@CHARSET "UTF-8";

.a{
    position: absolute;
    top:20px;
    left: 20px;
    width: 20px;
    height: 20px;
    
}
.menu{
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    padding: 0 100px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.menu i{
    font-size: 80px;
    color: black;
    opacity: 0.5;
}
nav{
    position: relative;
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    color:gray;
    text-transform: uppercase;
    font-weight: bold;
    padding: 33px 20px;
    text-decoration: none;
}
nav ul li a:hover{
    background: #184771;
    color: #fff;
}
nav ul li ul{
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    min-width: 250px;
    position: absolute;
    margin-top: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transform: translateY(40px);
}
nav ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
nav ul li ul li a{
    padding: 10px
}
